.divImagem{ /*Centralização da div que expõem imagem */
    width:500px;/*Largura da div da imagem */
    height:660px;/*Altura da div da imagem */
    position: relative;
    margin-top: 80px; /* Distancia do "Header"*/
    margin-left: 850px; /* Distancia do "Footer" */
    
    /* imagem está com tamnho predefinido na source*/
}