#headerPrincipal {
    z-index: 9999; /* para sobre por em qualquer circustância */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b325f;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#headerPrincipal h1 {
    margin: 0;
    font-size: 33px;
}

.headerLinks {
    display: flex;
    gap: 60px; /* Espaço entre os NOMES linkAVEIS */
}

.headerLink {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* Tamanho do texto */
}
