.sidebar {
    margin-top: 50px; /* Define um espaço de 20 pixels entre o topo e o elemento */
    position: fixed; /* Define a posição fixa */
    left: 0; /* Alinha à esquerda */
    top: 0; /* Alinha ao topo */
    width: 200px; /* Largura da sidebar */
    height: 100%; /* Altura total da tela */
    background-color: #2f4f8e; /* Cor de fundo da sidebar */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    display: flex; /* Usa flexbox para alinhar verticalmente */
    flex-direction: column; /* Alinha os itens verticalmente */
}

.sidebar h3 {
    color: white; /* Define a cor do texto */
    font-weight: bold; /* Define a negrito */
    margin: 0; /* Remove a margem padrão dos elementos h3 */
    margin-top: 35px
}
